<div class="container-fluid" style="padding-top: 2px;background-color: #ecf0f5;">
	<span><%=placedetail.name%> </span><br>
	<span><%=placedetail.formatted_address%> </span><br>
	<span><%=placedetail.international_phone_number%> </span><br>
	<span><a href="<%=placedetail.url%>" style="color:#1a0dab;">Xem thêm...</a></span><br>
</div>



	

